.section-title-wrapper{
  max-width: var(--max-width);
  margin-inline: auto;
  margin-block-end: var(--space-md);  /* 3 rem desktop     */
  margin: 2.5rem auto 1.75rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1.5rem;
  padding-inline: 1rem;
}
.section-title-wrapper h2 {
  font-size: var(--fs-h2);
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
  white-space: nowrap;      
}

.section-title-wrapper .subtitle {
  flex: 1 1 40ch;           
  font-size: var(--fs-sub);
  font-weight: 400;
  line-height: 1.4;
  max-width: 500px;
}
.label-pill {
  display: inline-block;
  padding: 6px 10px;
  font-size: calc(var(--fs-h2) + 5px);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  border: 2px solid transparent;
  background: var(--color-primary);   
  color: var(--color-light);         
  white-space: nowrap;
   border-radius: 4px;
}

/* variações de cor */
.section-title-wrapper.blue   .label-pill {
  background: var(--color-primary);     
  border-color: var(--color-primary);
  border-radius: 6px;
}

.section-title-wrapper.orange .label-pill {
  background: var(--color-secondary);
  color: var(--color-dark);      /* agora o texto fica preto */
}

/*  MOBILE  */
@media (max-width: 576px) {
  .section-title-wrapper{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0.8rem;
  }

  .label-pill{
    display: block;
    width: 100%;
    max-width: 320px;
    padding: 12px 20px;
    white-space: normal;
    line-height: 1.25;
    border-radius: 14px;
  }

  .section-title-wrapper .subtitle {
    max-width: 30ch;
    margin-top: 0.4rem;
  }
}