.bloco-cases{
  margin-block: var(--space-md);      /* 3 rem desktop   */
  max-width: 1200px;
  padding-inline: 1rem;
  margin: 2rem auto 4rem;
}

.bloco-cases img{
  display:block;
  width:100%;
  height:auto;
  border-radius:24px;
}

/* MOBILE */
@media (max-width: 576px){
  .bloco-cases{
    margin: 0.9rem auto 1.5rem;
  }
  .bloco-cases img{
    border-radius:20px;
  }
}